{% extends "base.njk" %}
{% block titulo %}habitaciones | Nuevo{% endblock %}
{% block contenido %}
   <div class="container">
        <h1>Listado de habitaciones</h1>
        <div class="row">
            {% for habitacion in habitaciones %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ habitacion.numero }}: {{ habitacion.descripcion }}</h5>
                            <a href="/habitaciones/{{ habitacion.id }}" class="btn btn-primary">Ver detalles</a>
                            <a href="/habitaciones/editar/{{ habitacion.id }}" class="btn btn-success">Editar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}